In [1]:
import pandas as pd
pd.options.display.max_colwidth = 100

In [2]:
# load in English words list
sherlock_file = '../Resources/sherlock.txt'

sherlock_df = pd.read_csv(sherlock_file, sep='\n', header=None)
sherlock_df.columns = ['text']
sherlock_df.head()

                                text
0  The Adventures of Sherlock Holmes
1              by Arthur Conan Doyle
2                           Contents
3        I.     A Scandal in Bohemia
4       II.    The Red-Headed League

In [3]:
# find all lines of text with the string 'Watson'
p = 'Watson'
sherlock_df[sherlock_df['text'].str.contains(p)]

                                                                         text
72      “Wedlock suits you,” he remarked. “I think, Watson, that you have put
76       fancy, Watson. And in practice again, I observe. You did not tell me
174    and fifty guineas apiece. There’s money in this case, Watson, if there
207      Watson, who is occasionally good enough to help me in my cases. Whom
353         some good news for you. And good-night, Watson,” he added, as the
...                                                                       ...
8795     “They always fill me with a certain horror. It is my belief, Watson,
9170   “My dear Watson, you as a medical man are continually gaining light as
9203  that we had better go in without you. Now, Watson, put your shoulder to
9219  whose step I hear now upon the stair. I think, Watson, that it would be
9297   the country surgeon and Mrs. Rucastle, so I think, Watson, that we had

[81 rows x 1 columns]

In [4]:
# find all lines of text with the string 'Watson' that are followed by a space
p = 'Watson\s'
sherlock_df[sherlock_df['text'].str.contains(p)]

                                                                        text
869    your narrative. I ask you not merely because my friend Dr. Watson has
1429                                Watson and I will follow in the second.”
2981   jot down the facts. You will sign it, and Watson here can witness it.
4949  came out into the frosty air. “Remember, Watson that though we have so

In [6]:
# find all lines of text with the string 'Watson' followed by a non-word character
p = 'Watson\W'
sherlock_df[sherlock_df['text'].str.contains(p)]

                                                                         text
72      “Wedlock suits you,” he remarked. “I think, Watson, that you have put
76       fancy, Watson. And in practice again, I observe. You did not tell me
174    and fifty guineas apiece. There’s money in this case, Watson, if there
207      Watson, who is occasionally good enough to help me in my cases. Whom
353         some good news for you. And good-night, Watson,” he added, as the
...                                                                       ...
8795     “They always fill me with a certain horror. It is my belief, Watson,
9170   “My dear Watson, you as a medical man are continually gaining light as
9203  that we had better go in without you. Now, Watson, put your shoulder to
9219  whose step I hear now upon the stair. I think, Watson, that it would be
9297   the country surgeon and Mrs. Rucastle, so I think, Watson, that we had

[81 rows x 1 columns]